<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-button fill="clear" href="/">
        <ion-title color="success">
          Green Raven
        </ion-title>
      </ion-button>

      <div class="nav">
        <ion-button size="small">Budget</ion-button>
        <ion-button size="small" disabled>About</ion-button>
        <ion-button size="small" color="tertiary">Login</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Welcome to the home of <strong>Green Raven Technology</strong>.</h2>
</ion-content>
